
APP_HOST=127.0.0.1
# Shopify Credentials
SHOPIFY_WEBHOOK_SECRET=your_webhook_secret_here
SHOPIFY_STORE_URL=your_store.myshopify.com
SHOPIFY_API_VERSION=2026-01
SHOPIFY_CLIENT_ID=your_client_id_here
SHOPIFY_CLIENT_SECRET=your_client_secret_here
SHOPIFY_ACCESS_TOKEN=your_access_token_here
NGROK_URL=your_ngrok_url_here

# Elasticsearch
ELASTICSEARCH_URL=http://localhost:9200
ES_INDEX_NAME=shopify_products
ELASTIC_USER=elastic
ELASTIC_PASS=changeme
KIBANA_ES_TOKEN=

# App
APP_HOST=127.0.0.1
APP_PORT=8000

#ngrok authentication
NGROK_AUTHENTICATION=

