APP_HOST=0.0.0.0
APP_PORT=8050

SHOPIFY_API_VERSION="2026-01"
SHOPIFY_WEBHOOK_SECRET=""

SHOPIFY_CLIENT_ID=""
SHOPIFY_CLIENT_SECRET=""

# Woocommerce Integration settings (used by woocommerce/config.py)

WOOCOMMERCE_API_VERSION="wc/v3"
WOOCOMMERCE_WEBHOOK_SECRET=""
WOOCOMMERCE_STORE_URL=""
WOOCOMMERCE_CONSUMER_KEY=""
WOOCOMMERCE_CONSUMER_SECRET=""

# Elastic Search
ELASTIC_USER="elastic"
ELASTIC_PASS="password"
KIBANA_ES_TOKEN=""
ELASTICSEARCH_URL=



# Ngrok
NGROK_AUTHENTICATION=""
NGROK_URL=""